<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>All Blogs Posted</title>
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
</head>
<body class="bg-gray-100 font-sans antialiased">

     <!--Navbar-->
    <nav class="bg-blue-600 p-4 text-white flex justify-between">
        <div>
            <h1 class="text-3xl font-bold">AI Blog Gen.</h1>
        </div>
         <div>
            <a href="#" class="text-white hover:underline">Welcome {{user.first_name}}</a>
            <a href="/blog-list" class="text-white hover:underline mx-4">Saved Blog Posts</a>
            <a href="#" class="text-white hover:underline">Logout</a>
        </div>
    </nav>

<!--    main content container-->
    <div class="container mx-auto mt-10 px-4 sm:px-0">
        <div class="max-w-3xl mx-auto bg-white p-6 rounded-lg shadow-md">
<!--               all blog posts  -->
            <section>
                <h2 class="text-xl mb-4 font-semibold">All Blog Posts</h2>
                <div class="space-y-4">

                    <div class="border border-gray-300 p-4 rounded-lg">
                        <h3 class="text-lg font-semibold">Blog Post Title 1</h3>
                        <p>
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy
                            text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                            It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
                            It was popularized in the 1960s with the release of getset sheets containing Lorem Ipsum passages, and more recently with
                            desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                        </p>
                    </div>

                    {% for article in blog_articles reversed %}
                     <a href="blog-details/{{article.id}}">
                         <div class="border border-gray-300 p-4 rounded-lg">
                            <h3 class="text-lg font-semibold">{{article.youtube_title}}</h3>
                            <p>
                                {{article.generated_content}}
                            </p>
                        </div>
                     </a>
                    {% endfor %}
<!--                    Repeat in For-Each loop -->
                </div>
            </section>
        </div>
    </div>

    <footer class="text-center p-4 text-black mt-6">
        <a href="https://github.com/michaeldehaney94" target="_blank">Powered by Haneyco.</a>
    </footer>
</body>
</html>